# Virtual environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS junk
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp

# Game assets cache (if any)
*.log
